<ng-template #infoText>
    <app-messages [data]="recipeNotFound"></app-messages>
    <!--<app-testing></app-testing>-->
</ng-template>
<div *ngIf="recipe;else infoText">
    <div class="row">
        <div class="col-sm-5">
            <div class="row">
                <div class="col-sm-12">
                    <img [src]="recipe.imagePath" alt="" class="img-responsive">
                </div>
            </div>
            <div class="row">
                <div class="col-sm-12">
                    <h4>Ingredients</h4>
                    <!--<br/>-->
                    <hr>
                    <ul class="list-group">
                        <li *ngFor="let ingredient of recipe.ingredients" class="list-group-item">{{ingredient.name}} -
                            {{ingredient.amount}}
                        </li>
                    </ul>
                </div>
            </div>
        </div>
        <div class="col-sm-7">
            <div class="row">
                <div class="col-sm-12">
                    <h1>{{recipe.name}}</h1>
                </div>
            </div>

            <div class="row">
                <div class="col-sm-12">
                    {{recipe.description}}
                </div>
            </div>
            <hr>
            <div class="row">
                <div class="col-sm-12">
                    <div class="btn-group" dropdown>
                        <button
                                dropdownToggle
                                type="button"
                                class="btn btn-success dropdown-toggle">
                            Manage Recipe
                            <span class="caret"></span>
                        </button>
                        <ul class="dropdown-menu" *dropdownMenu>
                            <li><a href="#" (click)="addIngredients();false">Add to Shopping List</a></li>
                            <li><a [routerLink]="['edit']">Edit Recipe</a></li>
                            <li><a href="">Delete Recipe</a></li>
                        </ul>
                    </div>
                </div>
            </div>

        </div>
    </div>


</div>
