<h4>Ingredients</h4>
<app-shopping-edit></app-shopping-edit>
<hr>
<div class="row">
    <div class="col-sm-7">
        <ul class="list-group" *ngIf="ingredients">
            <li [@list1] *ngFor="let ingredient of ingredients | reverse;let i=index"
               style="cursor:pointer"
               class="list-group-item"
               (click)="onSelectIngredient(ingredients.length-i-1)"
                [ngClass]="{active:ingredientName==ingredient.name}"
            >
                {{ingredient.name}} ({{ingredient.amount}})
            </li>
        </ul>
        <div *ngIf="!error && !ingredients">

            <i class="fa fa-spinner fa-pulse fa-3x fa-fw"></i>
            <span class="sr-only">Loading...</span>

        </div>
        <div *ngIf="error">
            <b>Connection error</b>
        </div>
        <div *ngIf="ingredients && ingredients.length==0">
            <b>No ingredients.</b>
        </div>
    </div>
</div>

