<!--Pulling Awesome Font -->
<!--<link href="//maxcdn.bootstrapcdn.com/font-awesome/4.2.0/css/font-awesome.min.css" rel="stylesheet">-->

<div class="row">
    <div class="col-sm-3"></div>
    <div class="col-sm-6">
        <div class="form-login">
            <h4>Login</h4>
            <input type="text" id="userName" class="form-control input-sm chat-input" placeholder="username"/>
            <br>
            <input type="text" id="userPassword" class="form-control input-sm chat-input" placeholder="password"/>
            <br>
            <div class="wrapper">
            <span class="group-btn">
                <a href="/login" (click)="login();false" class="btn btn-primary btn-md">Login <i
                        class="fa fa-sign-in"></i></a>
            </span>
            </div>
        </div>
    </div>
    <div class="col-sm-3"></div>
</div>


