<div class="container">
    <div class="row">
        <div class="col-md-6">
            <div class="panel with-nav-tabs panel-info">
                <div class="panel-heading">
                    <ul class="nav nav-tabs">

                    </ul>
                </div>

                <div class="panel-body">
                    <div class="tab-content">
                        <div id="login" class="tab-pane fade in active register">
                            <div class="container-fluid">
                                <div class="row">
                                    <h2 class="text-center" style="color: #5cb85c;"><strong> Login </strong></h2>
                                    <hr/>
                                    <form (submit)="onSubmit()" [formGroup]="rctForm">

                                        <div class="row">
                                            <div class="col-xs-12 col-sm-12 col-md-12">
                                                <div class="form-group">
                                                    <div class="input-group">
                                                        <div class="input-group-addon">
                                                            <span class="glyphicon glyphicon-user"></span>
                                                        </div>
                                                        <input type="search" placeholder="User Name"
                                                               class="form-control"
                                                               formControlName="username"
                                                        >
                                                    </div>
                                                </div>
                                                <!--<div *ngIf="!rctForm.get('username').valid && rctForm.get('username').touched">-->
                                                <!--&lt;!&ndash;<alert&ndash;&gt;-->
                                                <!--&lt;!&ndash;*ngIf="rctForm.get('username').errors.required"&ndash;&gt;-->
                                                <!--&lt;!&ndash;type="warning"&ndash;&gt;-->
                                                <!--&lt;!&ndash;dismissible="true">&ndash;&gt;-->
                                                <!--&lt;!&ndash;Username field is required&ndash;&gt;-->
                                                <!--&lt;!&ndash;</alert>&ndash;&gt;-->
                                                <!--{{rctForm.get('username').errors | json}}-->
                                                <!--&lt;!&ndash;<app-forms-messages [name]="'user name'" [errors]="rctForm.get('username').errors"></app-forms-messages>&ndash;&gt;-->
                                                <!---->
                                                <!--</div>-->
                                                <app-forms-messages
                                                        [ctrl]="rctForm.get('username')"
                                                        [field]="'user name'"
                                                        [json]="false"
                                                >
                                                    <app-forms-custom-message
                                                            [ctrl]="rctForm.get('username')"
                                                            [error]="'forbiddenName'"
                                                            [msg]="'This name is forbidden'"
                                                    ></app-forms-custom-message>
                                                    <!--<li *ngIf="!rctForm.get('username').valid && rctForm.get('username').touched && rctForm.get('username').errors.forbiddenName">This name is forbidden</li>-->
                                                </app-forms-messages>
                                            </div>
                                        </div>

                                        <div class="row">
                                            <div class="col-xs-12 col-sm-12 col-md-12">
                                                <div class="form-group">
                                                    <div class="input-group">
                                                        <div class="input-group-addon">
                                                            <span class="glyphicon glyphicon-envelope"></span>
                                                        </div>
                                                        <input type="search" placeholder="Email"
                                                               class="form-control"
                                                               formControlName="email"
                                                        >

                                                    </div>

                                                </div>
                                                <app-forms-messages
                                                        [ctrl]="rctForm.get('email')"
                                                        [field]="'e-mail'">
                                                </app-forms-messages>
                                            </div>
                                        </div>


                                        <div class="row">
                                            <div class="col-xs-12 col-sm-12 col-md-12">
                                                <div class="form-group">
                                                    <div class="input-group">
                                                        <div class="input-group-addon">
                                                            <span class="glyphicon glyphicon-lock"></span>
                                                        </div>
                                                        <div>
                                                            <input
                                                                    type="password"
                                                                    placeholder="Password"
                                                                    class="form-control"
                                                                    formControlName="secret"
                                                            >
                                                        </div>

                                                    </div>
                                                </div>
                                                <app-forms-messages
                                                        [ctrl]="rctForm.get('secret')"
                                                        [field]="'password'">
                                                </app-forms-messages>
                                            </div>
                                        </div>


                                        <div class="row">
                                            <div class="col-xs-12 col-sm-12 col-md-12">

                                                <!--<div formArrayName="hobbies">-->
                                                <!--<div class="form-group" >-->
                                                <!--<div class="input-group">-->
                                                <!--<button type="button" (click)="addHobby()">Add Hobby</button>-->
                                                <!--<div class="form-group" -->
                                                <!--*ngFor="let hobbyCtrl of rctForm.get('hobbies').controls;let i = index">-->
                                                <!--<input type="text" class="form-control" formControlName="{{i}}">-->
                                                <!--</div>-->
                                                <!--</div>-->
                                                <!--</div>-->
                                                <!--</div>-->
                                                <hr>
                                                <h4>Hobbies</h4>

                                                <div formArrayName="hobbies">
                                                    <button type="button" class="btn btn-default btn-lg btn-block"
                                                            (click)="addHobby()">Add Hobby
                                                    </button>
                                                    <br/>
                                                    <div *ngFor="let hobbyCtrl of rctForm.get('hobbies').controls;let i = index">
                                                        <div class="form-group">
                                                            <div class="input-group">
                                                                <div class="input-group-addon">
                                                                    <span class="glyphicon glyphicon-book"></span>
                                                                </div>
                                                                <div>
                                                                    <input
                                                                            type="text"
                                                                            placeholder="{{i+1}}° hobbie"
                                                                            class="form-control"
                                                                            formControlName="{{i}}"
                                                                    >
                                                                </div>
                                                            </div>

                                                        </div>
                                                        <app-forms-messages
                                                                [ctrl]="rctForm.get('hobbies.'+i)"
                                                                field="{{i+1}}° hobbie">
                                                        </app-forms-messages>
                                                    </div>

                                                </div>

                                            </div>
                                        </div>


                                        <hr/>

                                        <div class="row">
                                            <div class="col-xs-12 col-sm-12 col-md-12">
                                                <button [disabled]="!rctForm.valid"
                                                        type="submit"
                                                        class="btn btn-success btn-block btn-lg"

                                                > Login
                                                </button>
                                            </div>
                                        </div>
                                    </form>


                                </div>
                            </div>
                        </div>

                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

